@model ForumApp.Models.Forum

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div class="forumList">
    <div class="forumListItems">
        <h4>Список форумов</h4>
        <a asp-action="Create" asp-route-pForumId="@Model.Id">Создать форум</a>
        <hr />
        @if (Model.ChildForums is not null)
        {
            @foreach (var item in Model.ChildForums)
            {
                <div class="forumItem">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </div>
                <hr />
            }
        }
    </div>
</div>



<div class="forumList">
    <div class="topicListItems">
        <h4>Темы</h4>
        <a asp-controller="Topics" asp-action="Create" asp-route-forumId="@Model.Id">Создать тему</a>
        <hr />
        @if (Model.Topics is not null)
        {
            @foreach (var item in Model.Topics)
            {
                <div class="topicItem">
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    <p>@Html.DisplayFor(modelItem => item.AppIdentityUser!.Email)</p>
                </div>
                <hr />
            }
        }
        else
        {
            <span>Тут пусто, дудень</span>
        }
    </div>
</div>

